* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: #119b7d;
    text-align: center;
    padding: 2rem;
    color: #fff;
}

.main {
    min-height: 100dvh;
    background-color: rgb(216, 214, 214);
}

.article {
   display: flex;
   justify-content: center;
   gap: 2rem;
   padding-top: 2rem;
}

.formAdd {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 4px;
    padding: 3rem;
}

.inputAdd, .inputSearch, .task {
   padding: 1rem;
   border-radius: 4px;
   border: 1px solid gray;
}

.butonAdd, .butonSearch  {
    padding: 1rem;
    border-radius: 4px;
    border: none;
    background-color: #119b7d;
    color:#fff;
    padding-inline: 1rem;;
}

.section {
    background-color: white;
    padding: 3rem;
}

.formSearch {
    display: flex;
    gap: 1rem;
}

.listTask {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 1.3rem;
}

.completed {
    text-decoration: line-through;
}
