* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

.header {
    background-color: greenyellow;
    text-align: center;
    padding: 2rem;
}

.main {
    min-height: 100dvh;
    background-color: rgb(216, 214, 214);
}

.article {
   display: flex;
   justify-content: center;
   gap: 2rem;
   padding-top: 2rem;
}

.formAdd {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 4px;
    padding: 3rem;
}

.inputAdd {
   padding: 0.5rem;
   border-radius: 2px; 
   border: 1px solid gray;
}

.butonAdd {
    padding: 0.5rem;
    border-radius: 2px; 
    border: none;
    background-color: greenyellow;
}

.section {
    background-color: white;
    padding: 3rem;  
}




